apiVersion: v1
kind: Service
metadata:
  name: kibana-service
spec:
  selector:
    app: kibana
  ports:
    - protocol: TCP
      port: {{ .Values.kibana.service.port }}
      targetPort: 5601
  type: {{ .Values.kibana.service.type }}